DB_HOST=$dbHost
DB_USER=$dbUser
DB_PASSWORD=$dbPassword
DB_DATABASE=$dbDatabase
MB_ACCESS_TOKEN=$mbAccessToken
MONGO_USER=$mongoUser
MONGO_PASSWORD=$mongoPassword
MONGO_HOST=$mongoHost
MONGO_APP_NAME=$mongoAppName
MONGO_DB=$mongoDb
MONGO_COLLECTION=$mongoCollection