html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #F2F2F2;
}

.table{
    padding: .5rem .5rem;
    background-color: #F2F2F2;
    border-bottom-width: 0px;
    box-shadow: 0px;
}

table .table {
    background-color: #F2F2F2;
    border: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #820DDF;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #820DDF;
}

#frauds-list {
    background-color: #F2F2F2;
}

#frauds-list tr {
    cursor: pointer;
}

#frauds-list tr:hover {
    background-color: #D199FF;
    color: white;
}

#map {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

#travel-info {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    height: calc(100% - 2rem);
}

.tab-content {
    height: calc(50% - 42px);
}

.tab-pane {
    height: 100%;
}

#map-container {
    height: calc(50% - 100px); 
}
#analytics .row {
    height: 400px;  /* Adjust this value as needed */
}

#analytics .col-md-6 {
    height: 100%;
    padding: 15px;
}

#fraudsChart, #usageChart {
    width: 100% !important;
    height: 100% !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin-right: 10px;
    font-weight: bold;
}

img, svg {
    vertical-align: middle;
    width: 150px;
}

.marker {
    cursor: pointer;
}

.end-marker {
    transform: translate(-50%, -100%) rotate(-45deg);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content-wrapper {
    flex: 1;
    padding-bottom: 80px; /* Adjust this value based on your footer height */
}

.container {
    margin-bottom: 20px; /* Add some space at the bottom of the container */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

/* Add this if you want to ensure the button is always visible */
#next-button {
    margin-bottom: 20px;
}